
@import "tailwindcss";

:root{
    /* [PL1] FOUNDATIONS */
    --main-white--: hsl(258, 44%, 93%);
    --white-blple--: hsl(221, 32%, 77%);
    --purpluish--: hsl(225, 25%, 65%);
    --bluis--: hsl(220, 74%, 62%);
    --mainblue--: hsl(225, 46%, 44%);
    --gainsbro: hsl(0, 0%, 96%);
    --blue-white: hsl(195, 44%, 86%);
    --color-dark--blue: hsl(225, 15%, 25%);


        /* [PL2]Accueil1 */
    --acc-greena: hsl(84, 39%, 37%);
    --acc-greenb: hsl(82, 56%, 47%);
    --acc-darka: hsl(165, 9%, 15%);
    --acc-darkb: hsl(180, 3%, 29%);
    --acc-darkc: hsl(180, 2%, 43%);


    
    --ptl-greena:#b7efc5;
    --ptl-greenb:#92e6a7;
    --ptl-greenc:#6ede8a;
    --ptl-greend:#2dc653;
    --ptl-greene:#25a244;
    --ptl-greenf:#208b3a;
    --ptl-greeng:#1a7431;
    --ptl-greenh:#155d27;
    --ptl-greenj:#10451d;

    
        /* [PAL2] PALLETA GREEN */
    --pal2-whitea: #ffff;
    --pal2-whiteb: hsl(60, 7%, 91%);
    --pal2-greena: hsl(82, 30%, 62%);
    --pal2-greenb: hsl(120, 100%, 20%);
    
    /* DARK MODE PALLETE */
    --metal-dark1: hsl(0, 2%, 14%);
    --metal-dark2: hsl(0, 1%, 25%);
    --metal-dark3: hsl(0, 0%, 13%);
    --metal-dark4: hsl(240, 2%, 53%);
    --metal-dark5: hsl(0, 0%, 7%);

    /* GRAYS */
    --gray_1--: hsl(0, 0%, 50%);
    --color-jk-dark: hsl(204, 19%, 15%);
    --color-jk-dgray: hsl(210, 100%, 99%);

    /* DARK */
    --dark-variant: hsl(220, 7%, 19%);
    --dark-variantb: hsl(0, 0%, 21%);
    --color-dark-blue: hsl(210, 29%, 15%);

    /* SIGNS */
    --color-danger-a: hsl(355, 100%, 70%);
    --color-danger-b: hsl(355,100%, 85%);
    --color-danger-c:hsl(353, 40%, 90%);
    --color-warning: hsl(35, 80%, 70%);
    --color-warning-b: hsl(35, 80%, 90%);
    --color-warning-c: hsl(35, 80%, 95%);
    --color-success-a: hsl(125, 85%, 60%);
    --color-success-a-soft: hsl(110, 58%, 90%);
    --color-success-c: hsl(160,60%, 70%);
    --color-success-d:hsl(150, 80%, 80%);
 

    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);

    --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);

    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;
    
        /* 1.618  */
    --dis-0-6:0.618rem;       
    --dis-1:1rem;
    --dis-1:0.8rem;
    --dis-1-3:1.3rem;
    --dis-6:1.618rem;
    --dis-4:2.1rem;
    --dis-2-6:2.617rem;
    --dis-4-2:4.23rem;
    --dis-6-8:6.84rem;
}


.container{
    @apply bg-[var(--pal2-whitea)];
}
.u_tr{
    @apply rounded-[10px];
}
.u_td {
   @apply  py-3 px-4 text-sm text-start break-words ;
}

.u_btn{
    @apply rounded-[8px] text-[0.9rem] text-[var(--acc-darkb)];
    padding: 0rem var(--dis-0-6);
    color: white
}





input{
    @apply rounded-[10px] w-full;  
}

.bd_card{
    @apply flex items-center justify-center rounded-[10px];
    box-shadow:5px 5px 10px 1px var(--shad-alpha-e);
}
.bd_gradient{
    background: linear-gradient(45deg,white,var(--ptl-greena));
}
.num_card{
    @apply flex items-center justify-center rounded-[10px] w-full h-full bg-[var(--pal2-whitea)];
    box-shadow:0px 5px 10px 2px var(--shad-alpha-e);
}                   
  
    .input-normal {
        border: 2px solid var(--acc-darkc); 
    }


    .userTbody .u_tr:nth-child(odd){
          @apply bg-[var(--main-white)] shadow-sm;
    }

    
    body.dark .userTbody .u_tr:nth-child(odd){
          @apply bg-[var(--metal-dark2)] shadow-sm;
    }
   
 
 
 

    
   
